
body{
background-color: #FA3F3F !important;
overflow: hidden;
}

#top_menu{
  margin: 0 auto; 
  display:block;
}
#logo { 
  float:left;

  width: 200px;
  height:200px;
  background: url("logo.png") no-repeat 0 0
}
#id{
  margin: 60px 0px;
}
#login{
  background-color: #FEDCDB;
  border-color: transparent;
  width: 40%;
  border-radius: 35px;
  margin: auto;
  color: black;
  font-size: 18px;
}

.Form1{
  position: relative;
  height: 325px;
  margin-top: 12%;
  }
  .image-holder {
    float:left;
  width: 500px;
  height:500px;
  background: url("postman.png") no-repeat 0 0
    }

    #postman{
display: block;
margin: 5% auto;
    }
    #home_btn{
      display: flex;
      justify-content: flex-end;
    }