<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.0.0" targetFramework="net462" />
  <package id="Azure.Security.KeyVault.Keys" version="4.0.0" targetFramework="net462" />
  <package id="Azure.Security.KeyVault.Secrets" version="4.0.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.4.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net462" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net462" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net462" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.3" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net462" />
  <package id="System.Text.Encodings.Web" version="4.6.0" targetFramework="net462" />
  <package id="System.Text.Json" version="4.6.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>